{% extends "layout.html" %}
{% block title %}Book Search Page{% endblock %}
{% block content %}

<main class="hero-section">
    <div class="container">
        <h1 class="search_title">Search</h1>
        <form action="{{ url_for('search') }}" method="POST" class="form_search">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.books(placeholder="isbn, title, author", id="search", class="form-control") }}
            </div>

            {{ form.submit(class="btn-primary search_btn") }}
        </form>

        <div class="view_main">
            <div class="view_wrap list-view" style="display: block;">

                {% for row in books %}

                <div class="view_item">
                    <div class="vi_left">
                        <img class="card-img-top" src="http://covers.openlibrary.org/b/ISBN/{{ row.isbn }}-M.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="vi_right">
                        <p class="title">{{ row.isbn }}</p>
                        <p class="content">{{ row.title }}</p>
                        <p class="content">{{ row.author }}</p>
                        <div class="btn_view">
                            <a href="{{ url_for('book_details', isbn=row.isbn) }}">View More</a>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</main>

{% endblock %}